#Body{
    background-color: whitesmoke;
    display: inline-block;
    margin: 0px;
}
.first_div{
   display: inline-block;
   padding: 5px;
   margin: 5px;
  


}
.firstDiv{
    display: inline-block;
    padding: 10px;
    border: 2px;
    border-radius: 5px;
    border-color: black;
    border-style:solid;
   
}

.second_div{
   display: inline-block;
   padding: 10px;
   margin: 5px;
   border: 3px;
}
.secondDiv{
    display: inline-block;
    padding: 10px;
    border: 2px;
    border-radius: 5px;
    border-color: black;
    border-style:solid;
}

.buttons{
    background-color: rgb(216, 216, 239);
    display: inline;
    margin: 5px;
    padding: 5px;

}
.fa-regular{
    background-color: rgb(95, 191, 239);
    display: inline;
    padding: 6px;
    margin: 1px;
}